@color-body:  #fcfbfd; // #fafafa
@color-gray:  #a7a4b9; //#9a9a9a;
@color-light: #e8e8e8;
@color-link:  #7e589c; //#5576e2;
@color-main:  #7e589c; //#79589f;
@color-text:  #454545;
@color-title: #7c7590; //#757575;

@dropdown-border-color: rgba(71,82,93,.15);
@dropdown-shadow-color: rgba(71,82,93,.1);

@highdensity: ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
~"only screen and (min--moz-device-pixel-ratio: 1.5)",
~"only screen and (-o-min-device-pixel-ratio: 3/2)",
~"only screen and (min-device-pixel-ratio: 1.5)";
@mobile:      ~"only screen and (max-width: 529px)";
@tablet:      ~"only screen and (min-width: 530px) and (max-width: 949px)";
@desktop:     ~"only screen and (min-width: 950px) and (max-width: 1128px)";
@desktops:    ~"only screen and (min-width: 950px)";
@desktop-xl:  ~"only screen and (min-width: 1129px)";
