/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* sanitize.css v5.0.0 | CC0 License | github.com/jonathantneal/sanitize.css */
/* Document (https://html.spec.whatwg.org/multipage/semantics.html#semantics)
   ========================================================================== */
/**
 * 1. Remove repeating backgrounds in all browsers (opinionated).
 * 2. Add box sizing inheritence in all browsers (opinionated).
 */
*,
::before,
::after {
  background-repeat: no-repeat;
  /* 1 */
  box-sizing: inherit;
  /* 2 */
}
/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritence in all browsers (opinionated).
 */
::before,
::after {
  text-decoration: inherit;
  /* 1 */
  vertical-align: inherit;
  /* 2 */
}
/**
 * 1. Add border box sizing in all browsers (opinionated).
 * 2. Add the default cursor in all browsers (opinionated).
 * 3. Prevent font size adjustments after orientation changes in IE and iOS.
 */
html {
  box-sizing: border-box;
  /* 1 */
  cursor: default;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}
/* Sections (https://html.spec.whatwg.org/multipage/semantics.html#sections)
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content (https://html.spec.whatwg.org/multipage/semantics.html#grouping-content)
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}
/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */
nav ol,
nav ul {
  list-style: none;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics (https://html.spec.whatwg.org/multipage/semantics.html#text-level-semantics)
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}
/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ffff00;
  color: #000000;
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/*
 * Remove the text shadow on text selections (opinionated).
 * 1. Restore the coloring undone by defining the text shadow (opinionated).
 */
::-moz-selection {
  background-color: #b3d4fc;
  /* 1 */
  color: #000000;
  /* 1 */
  text-shadow: none;
}
::selection {
  background-color: #b3d4fc;
  /* 1 */
  color: #000000;
  /* 1 */
  text-shadow: none;
}
/* Embedded content (https://html.spec.whatwg.org/multipage/embedded-content.html#embedded-content)
   ========================================================================== */
/*
 * Change the alignment on media elements in all browers (opinionated).
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}
/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */
svg {
  fill: currentColor;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Tabular data (https://html.spec.whatwg.org/multipage/tables.html#tables)
   ========================================================================== */
/**
 * Collapse border spacing
 */
table {
  border-collapse: collapse;
}
/* Forms (https://html.spec.whatwg.org/multipage/forms.html#forms)
   ========================================================================== */
/**
 * Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
}
/**
 * Inherit styling in all browsers (opinionated).
 */
button,
input,
select,
textarea {
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * 1. Remove the default vertical scrollbar in IE.
 * 2. Change the resize direction on textareas in all browsers (opinionated).
 */
textarea {
  overflow: auto;
  /* 1 */
  resize: vertical;
  /* 2 */
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive elements (https://html.spec.whatwg.org/multipage/forms.html#interactive-elements)
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Scripting (https://html.spec.whatwg.org/multipage/scripting.html#scripting-3)
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}
/**
 * Add the correct display in IE.
 */
template {
  display: none;
}
/* User interaction (https://html.spec.whatwg.org/multipage/interaction.html#editing)
   ========================================================================== */
/*
 * Remove the tapping delay on clickable elements (opinionated).
 * 1. Remove the tapping delay in IE 10.
 */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  /* 1 */
  touch-action: manipulation;
}
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}
/* ARIA (https://w3c.github.io/html-aria/)
   ========================================================================== */
/**
 * Change the cursor on busy elements (opinionated).
 */
[aria-busy="true"] {
  cursor: progress;
}
/*
 * Change the cursor on control elements (opinionated).
 */
[aria-controls] {
  cursor: pointer;
}
/*
 * Change the display on visually hidden accessible elements (opinionated).
 */
[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  display: inherit;
  position: absolute;
}
/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements (opinionated).
 */
[aria-disabled] {
  cursor: default;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
body,
button,
input,
select,
textarea {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
a {
  color: #7e589c;
  text-decoration: none;
}
a.link:hover {
  text-decoration: underline;
}
/*
a[href]:not([class]) {
  color: #008000;
  text-decoration: underline;
}
*/
a,
body,
button,
input,
select,
textarea {
  font-family: Tahoma, sans-serif;
  outline: none;
}
body {
  position: relative;
  color: #454545;
  font-display: swap;
  font-size: 14px;
  background: #fcfbfd;
}
body .body {
  height: 100%;
  min-height: 100%;
}
body .body .container {
  height: 100%;
}
body,
html {
  height: 100%;
}
html {
  font-size: 100%;
}
.inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  min-width: 320px;
  position: relative;
}
main {
  direction: ltr;
  height: 100%;
}
.pace {
  -webkit-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pace-inactive {
  display: none;
}
.pace .pace-progress {
  background: #7e589c;
  height: 2px;
  position: fixed;
  right: 100%;
  top: 0;
  width: 100%;
  z-index: 2000;
}
/*
.page_ {
  &inner {
    .inner;

    padding-left: 10px;
    padding-right: 10px;

    @media (max-width: 670px) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &title {
    margin: 50px 0;

    font-size: 25px;
    text-align: center;
  }
}*/
.caret {
  border: 0.33333em solid transparent;
  border-top-color: inherit;
  content: '';
  display: inline-block;
  height: 0;
  vertical-align: middle;
  width: 0;
}
.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table;
}
.clearfix:after {
  clear: both;
}
.flex-box {
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.flex-box,
.flex-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.flex-item {
  position: relative;
}
.flex-item.-size-1 {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.flex-item.-size-2 {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
.flex-item.-size-3 {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
}
.flex-item.-size-4 {
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4;
}
.flex-item.-size-5 {
  -webkit-flex: 5;
  -ms-flex: 5;
  flex: 5;
}
.flex-item.-size-6 {
  -webkit-flex: 6;
  -ms-flex: 6;
  flex: 6;
}
.flex-item.-size-7 {
  -webkit-flex: 7;
  -ms-flex: 7;
  flex: 7;
}
.flex-item.-size-8 {
  -webkit-flex: 8;
  -ms-flex: 8;
  flex: 8;
}
.flex-item.-size-9 {
  -webkit-flex: 9;
  -ms-flex: 9;
  flex: 9;
}
.flex-item.-size-10 {
  -webkit-flex: 10;
  -ms-flex: 10;
  flex: 10;
}
.font.-large {
  font-size: 20px;
}
.font.-medium {
  font-size: 16px;
}
.font.-small {
  font-size: 12px;
}
.table-block {
  display: table;
  height: 100%;
  width: 100%;
}
.table-block .center-inner {
  display: table-cell;
  *display: inline-block;
  vertical-align: middle;
}
.text.-bold {
  font-weight: 700;
}
.text.-center {
  text-align: center;
}
.text.-italic {
  font-style: italic;
}
.text.-left {
  text-align: left;
}
.text.-lower {
  text-transform: lowercase;
}
.text.-normal {
  font-style: normal;
}
.text.-right {
  text-align: right;
}
.text.-strike {
  text-decoration: line-through;
}
.text.-upper {
  text-transform: uppercase;
}
.-wide {
  display: block;
  width: 100%;
}
._block {
  display: block;
}
._center {
  margin-left: auto;
  margin-right: auto;
}
._hidden {
  display: none;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
  visibility: hidden;
}
._inline {
  display: inline-block;
  vertical-align: top;
}
._middle {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
._noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
._pull-left {
  float: left;
}
._pull-right {
  float: right;
}
._shown {
  display: block;
  -webkit-filter: none;
  filter: none;
  opacity: 1;
  -webkit-pointer-events: auto;
  -ms-pointer-events: auto;
  pointer-events: auto;
  visibility: visible;
}
._scrollbar {
  overflow-y: scroll;
}
.w-25 {
  width: 25px;
}
.w-50 {
  width: 50px;
}
.w-75 {
  width: 75px;
}
.w-100 {
  width: 100px;
}
.w-125 {
  width: 125px;
}
.w-150 {
  width: 150px;
}
.w-175 {
  width: 175px;
}
.w-200 {
  width: 200px;
}
.w-250 {
  width: 250px;
}
.w-300 {
  width: 300px;
}
/**
.devices_values(width; 650px; 600px; 550px; 450px);
 */
.alert {
  border: 1px solid transparent;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: table;
  font-size: 14px;
  padding: 20px;
  position: relative;
  width: 100%;
}
.alert.-default {
  background: #fff;
  border-color: #e8e8e8;
  color: #777;
}
.alert.-error {
  background: #fbeeed;
  border-color: #f7d8dd;
  color: #d9534f;
}
.alert.-info {
  background: #f0f9ff;
  border-color: #ccf3ff;
  color: #007dbc;
}
.alert.-success {
  background: #f1f9f7;
  border-color: #e0f1e9;
  color: #1d9d74;
}
.alert.-warning {
  background: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}
.alert > .content {
  display: inline-block;
  position: relative;
  width: 100%;
}
.alert > .content > .text {
  line-height: 20px;
  margin-top: 5px;
}
.alert > .content > .title {
  font-weight: bold;
}
.alert > .icon {
  display: table-cell;
  font-size: 24px;
  vertical-align: middle;
  width: 44px;
}
.alert .remove-button {
  color: #9a9a9a !important;
  position: absolute;
  right: 5px;
  top: 5px;
}
.badge {
  display: inline-block;
  vertical-align: top;
  padding: 4px 10px;
  color: #fff;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 12px;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.badge.-gray {
  background: #96a3b6;
}
.badge.-purple {
  background: #7e589c;
}
.blankslate {
  background: #fff;
  border: 1px solid #e8e8e8;
  color: #777;
  position: relative;
  text-align: center;
  width: 100%;
}
.blankslate .icon {
  /*@pxFontValue: (@font-size / 10);
  @pxLineValue: (@font-size / 10 * 1.8);*/
  font-size: 32px;
  line-height: 57.6px;
}
.blankslate p,
.blankslate .text {
  /*@pxFontValue: (@font-size / 10);
  @pxLineValue: (@font-size / 10 * 1.8);*/
  font-size: 16px;
  line-height: 28.8px;
}
.blankslate .title {
  /*@pxFontValue: (@font-size / 10);
  @pxLineValue: (@font-size / 10 * 1.8);*/
  font-size: 20px;
  line-height: 36px;
}
.blankslate:not(.-box) {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.blankslate:not(.-high) {
  padding: 30px 10px;
}
.blankslate.-large .icon {
  /*@pxFontValue: (@font-size / 10);
  @pxLineValue: (@font-size / 10 * 1.8);*/
  font-size: 48px;
  line-height: 86.4px;
}
.blankslate.-large p,
.blankslate.-large .text {
  /*@pxFontValue: (@font-size / 10);
  @pxLineValue: (@font-size / 10 * 1.8);*/
  font-size: 18px;
  line-height: 32.4px;
}
.blankslate.-large .title {
  /*@pxFontValue: (@font-size / 10);
  @pxLineValue: (@font-size / 10 * 1.8);*/
  font-size: 22px;
  line-height: 39.6px;
}
.blankslate.-medium .icon {
  /*@pxFontValue: (@font-size / 10);
  @pxLineValue: (@font-size / 10 * 1.8);*/
  font-size: 32px;
  line-height: 57.6px;
}
.blankslate.-medium p,
.blankslate.-medium .text {
  /*@pxFontValue: (@font-size / 10);
  @pxLineValue: (@font-size / 10 * 1.8);*/
  font-size: 16px;
  line-height: 28.8px;
}
.blankslate.-medium .title {
  /*@pxFontValue: (@font-size / 10);
  @pxLineValue: (@font-size / 10 * 1.8);*/
  font-size: 20px;
  line-height: 36px;
}
.blankslate.-small .icon {
  /*@pxFontValue: (@font-size / 10);
  @pxLineValue: (@font-size / 10 * 1.8);*/
  font-size: 24px;
  line-height: 43.2px;
}
.blankslate.-small p,
.blankslate.-small .text {
  /*@pxFontValue: (@font-size / 10);
  @pxLineValue: (@font-size / 10 * 1.8);*/
  font-size: 14px;
  line-height: 25.2px;
}
.blankslate.-small .title {
  /*@pxFontValue: (@font-size / 10);
  @pxLineValue: (@font-size / 10 * 1.8);*/
  font-size: 18px;
  line-height: 32.4px;
}
.blankslate.-high {
  padding: 100px 50px;
}
.blankslate.-narrow {
  margin-left: auto;
  margin-right: auto;
  width: 485px;
}
.blankslate.-wider {
  margin-left: -10px;
  margin-right: -10px;
}
.blankslate .icon {
  color: #c3c3c3;
}
.button {
  border: 1px solid transparent;
  display: inline-block;
  outline: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /*@pxFontValue: (@font-size / 10);
  @pxLineValue: (@font-size / 10 * 1.8);*/
  font-size: 16px;
  line-height: 28.8px;
}
@media only screen and (max-width: 529px) {
  .button {
    /*@pxFontValue: (@font-size / 10);
  @pxLineValue: (@font-size / 10 * 1.8);*/
    font-size: 14px;
    line-height: 25.2px;
  }
}
.button:not(.-link) {
  padding: 0 10px;
}
.button:not(.-shadow) {
  line-height: 30px;
}
.button.-shadow {
  -webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.25);
}
.button.-shadow:active {
  -webkit-box-shadow: inset -1px 1px 2px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset -1px 1px 2px 0 rgba(0, 0, 0, 0.25);
  -o-box-shadow: inset -1px 1px 2px 0 rgba(0, 0, 0, 0.25);
  box-shadow: inset -1px 1px 2px 0 rgba(0, 0, 0, 0.25);
}
.button:not(.-static):active {
  transform: translateY(1px);
}
.button:disabled {
  cursor: not-allowed;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.button:hover:not(:disabled) {
  cursor: pointer;
}
.button:not(.-squared) {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.button.-squared {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.button:not(.-transparent).-gray {
  color: #fff;
  background: rgba(118, 124, 127, 0.95);
}
.button:not(.-transparent).-gray:hover {
  background: #767c7f;
}
.button:not(.-transparent).-purple {
  color: #fff;
  background: rgba(126, 88, 156, 0.95);
  border-color: #7e589c;
}
.button:not(.-transparent).-purple:hover {
  background: #7e589c;
}
.button:not(.-transparent).-red {
  color: #732d2d;
  background: rgba(236, 149, 149, 0.95);
}
.button:not(.-transparent).-red:hover {
  background: #ec9595;
}
.button:not(.-transparent).-white {
  background: #fff;
  border-color: #e8e8e8;
  color: #6c6c6c;
}
.button:not(.-transparent).-white:hover {
  background: #fcfbfd;
}
.button.-large {
  font-size: 20px;
  line-height: 55px;
  padding: 0 20px;
}
@media only screen and (max-width: 529px) {
  .button.-large {
    font-size: 18px;
    line-height: 40px;
  }
}
.button.-large.-shadow {
  -webkit-box-shadow: 3px 3px 2px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 3px 3px 2px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 3px 3px 2px 0 rgba(0, 0, 0, 0.25);
}
.button.-large.-shadow:active {
  -webkit-box-shadow: inset -1px 3px 2px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset -1px 3px 2px 0 rgba(0, 0, 0, 0.25);
  -o-box-shadow: inset -1px 3px 2px 0 rgba(0, 0, 0, 0.25);
  box-shadow: inset -1px 3px 2px 0 rgba(0, 0, 0, 0.25);
}
.button.-medium {
  /*@pxFontValue: (@font-size / 10);
  @pxLineValue: (@font-size / 10 * 1.8);*/
  font-size: 16px;
  line-height: 28.8px;
}
@media only screen and (max-width: 529px) {
  .button.-medium {
    /*@pxFontValue: (@font-size / 10);
  @pxLineValue: (@font-size / 10 * 1.8);*/
    font-size: 14px;
    line-height: 25.2px;
  }
}
.button.-medium:not(.-link) {
  padding: 0 10px;
}
.button.-medium:not(.-shadow) {
  line-height: 30px;
}
.button.-medium.-shadow {
  -webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.25);
}
.button.-medium.-shadow:active {
  -webkit-box-shadow: inset -1px 1px 2px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset -1px 1px 2px 0 rgba(0, 0, 0, 0.25);
  -o-box-shadow: inset -1px 1px 2px 0 rgba(0, 0, 0, 0.25);
  box-shadow: inset -1px 1px 2px 0 rgba(0, 0, 0, 0.25);
}
.button.-small {
  /*@pxFontValue: (@font-size / 10);
  @pxLineValue: (@font-size / 10 * 1.8);*/
  font-size: 14px;
  line-height: 25.2px;
  padding: 0 5px;
}
@media only screen and (max-width: 529px) {
  .button.-small {
    /*@pxFontValue: (@font-size / 10);
  @pxLineValue: (@font-size / 10 * 1.8);*/
    font-size: 12px;
    line-height: 21.6px;
  }
}
.button.-small:not(.-shadow) {
  line-height: 23px;
}
.button.-block {
  display: table;
}
.button.-bold {
  font-weight: 700;
}
.button.-icon {
  padding: 0;
}
.button.-link:hover {
  text-decoration: underline;
}
.button.-upper {
  text-transform: uppercase;
}
.button + .button {
  margin-left: 10px;
}
.button:not(.-icon) > .fa {
  margin-right: 5px;
}
.button-append {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-left: -1px;
}
.button-append,
.button-prepend {
  display: inline-block;
  vertical-align: top;
  /*@pxFontValue: (@font-size / 10);
  @pxLineValue: (@font-size / 10 * 1.8);*/
  font-size: 16px;
  line-height: 28.8px;
  background: #eef1f6;
  border: 1px solid #e8e8e8;
  height: 32px;
  min-width: 32px;
  z-index: 1;
}
@media only screen and (max-width: 529px) {
  .button-append,
  .button-prepend {
    /*@pxFontValue: (@font-size / 10);
  @pxLineValue: (@font-size / 10 * 1.8);*/
    font-size: 14px;
    line-height: 25.2px;
  }
}
.button-append:not(.-link),
.button-prepend:not(.-link) {
  padding: 0 10px;
}
.button-append:not(.-shadow),
.button-prepend:not(.-shadow) {
  line-height: 30px;
}
.button-append.-shadow,
.button-prepend.-shadow {
  -webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.25);
}
.button-append.-shadow:active,
.button-prepend.-shadow:active {
  -webkit-box-shadow: inset -1px 1px 2px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset -1px 1px 2px 0 rgba(0, 0, 0, 0.25);
  -o-box-shadow: inset -1px 1px 2px 0 rgba(0, 0, 0, 0.25);
  box-shadow: inset -1px 1px 2px 0 rgba(0, 0, 0, 0.25);
}
.button-prepend {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-right: -1px;
}
.button-prepend + .input {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.dropdown {
  background: #fff;
  border: 1px solid rgba(71, 82, 93, 0.15);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 5px 10px rgba(71, 82, 93, 0.1);
  -moz-box-shadow: 0 5px 10px rgba(71, 82, 93, 0.1);
  box-shadow: 0 5px 10px rgba(71, 82, 93, 0.1);
  display: none;
  position: absolute;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transform: translateY(-10px);
  z-index: 20;
}
.dropdown .group > .header {
  border-bottom: none;
}
.dropdown .group:not(:last-of-type),
.dropdown .header {
  border-bottom: 1px solid rgba(71, 82, 93, 0.15);
}
.dropdown .header {
  color: #999;
  font-size: 12px;
  padding: 10px 12px;
}
.form.-white {
  background: #fff;
  border: 1px solid #e8e8e8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 20px;
}
.form.-medium {
  max-width: 500px;
}
.form.-small {
  max-width: 320px;
}
.form > .line {
  display: table;
  width: 100%;
}
@media (max-width: 575px) {
  .form > .line {
    display: block;
    padding-bottom: 5px;
  }
}
.form > .line:last-of-type > .field {
  text-align: left;
}
.form > .line > .field {
  display: inline-block;
  position: relative;
  width: 100%;
}
.form > .line > .field .switch.-large {
  margin: 10px 0;
}
.form > .line > .label {
  color: #a7a4b9;
  display: table-cell;
  vertical-align: middle;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 14px;
  width: 169px;
}
@media (max-width: 575px) {
  .form > .line > .label {
    display: block;
    margin-bottom: 10px;
  }
}
.form > .line > .label.-large {
  font-size: 20px;
  width: 200px;
}
.form > .line > .label.-medium {
  font-size: 14px;
  width: 169px;
}
.form > .line .-ml {
  margin-left: 10px;
}
.form > .line .-mr {
  margin-right: 10px;
}
.form > .line + .line:not(:last-of-type) {
  margin-top: 10px;
}
.form > .line + .line:last-of-type:not(.-nomargin) {
  margin-top: 20px;
}
.form-group > .title {
  border-bottom: 1px solid rgba(174, 177, 179, 0.15);
  color: #a7a4b9;
  font-size: 14px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}
.form-group > .title > .badge {
  position: absolute;
  top: -3px;
  right: 0;
}
.form-group + .form-group {
  margin-top: 50px;
}
h1 {
  font-size: 60px;
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  h1 {
    font-size: 55px;
  }
}
@media only screen and (max-width: 529px) {
  h1 {
    font-size: 45px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: #7c7590;
}
h2 {
  font-size: 35px;
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  h2 {
    font-size: 32px;
  }
}
@media only screen and (max-width: 529px) {
  h2 {
    font-size: 30px;
  }
}
h3:not(.-lh) {
  font-size: 25px;
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  h3:not(.-lh) {
    font-size: 22px;
  }
}
@media only screen and (max-width: 529px) {
  h3:not(.-lh) {
    font-size: 20px;
  }
}
h3.-lh {
  /*@pxFontValue: (@font-size / 10);
  @pxLineValue: (@font-size / 10 * 1.8);*/
  font-size: 25px;
  line-height: 45px;
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  h3.-lh {
    /*@pxFontValue: (@font-size / 10);
  @pxLineValue: (@font-size / 10 * 1.8);*/
    font-size: 22px;
    line-height: 39.6px;
  }
}
@media only screen and (max-width: 529px) {
  h3.-lh {
    /*@pxFontValue: (@font-size / 10);
  @pxLineValue: (@font-size / 10 * 1.8);*/
    font-size: 20px;
    line-height: 36px;
  }
}
h4 {
  font-size: 20px;
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  h4 {
    font-size: 18px;
  }
}
@media only screen and (max-width: 529px) {
  h4 {
    font-size: 16px;
  }
}
.input {
  border: 1px solid rgba(0, 0, 0, 0.15);
  display: inline-block;
  line-height: 1;
  outline: none;
  font-size: 16px;
  line-height: 30px;
  padding: 0 10px;
  background: #fff;
  color: #454545;
  -webkit-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  -ms-transition: border-color 0.3s;
  -o-transition: border-color 0.3s;
  z-index: 2;
}
@media only screen and (max-width: 529px) {
  .input {
    /*@pxFontValue: (@font-size / 10);
  @pxLineValue: (@font-size / 10 * 1.8);*/
    font-size: 14px;
    line-height: 25.2px;
  }
}
.input::-webkit-input-placeholder {
  color: #a7a4b9;
}
.input:-moz-placeholder {
  color: #a7a4b9;
}
.input::-moz-placeholder {
  color: #a7a4b9;
}
.input:-ms-input-placeholder {
  color: #a7a4b9;
}
.input:disabled {
  cursor: not-allowed;
  filter: alpha(opacity=70);
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
}
.input.-error {
  background: #fbeeed;
  border-color: #f7d8dd;
}
.input:not(.-squared) {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.input.-squared {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.input.-white {
  background: #fff;
  color: #454545;
}
.input.-large {
  font-size: 20px;
  line-height: 55px;
  padding: 0 20px;
}
@media only screen and (max-width: 529px) {
  .input.-large {
    font-size: 18px;
    line-height: 40px;
  }
}
.input.-medium {
  font-size: 16px;
  line-height: 30px;
  padding: 0 10px;
}
@media only screen and (max-width: 529px) {
  .input.-medium {
    /*@pxFontValue: (@font-size / 10);
  @pxLineValue: (@font-size / 10 * 1.8);*/
    font-size: 14px;
    line-height: 25.2px;
  }
}
.input.-small {
  font-size: 14px;
  line-height: 23px;
  padding: 0 5px;
}
@media only screen and (max-width: 529px) {
  .input.-small {
    /*@pxFontValue: (@font-size / 10);
  @pxLineValue: (@font-size / 10 * 1.8);*/
    font-size: 12px;
    line-height: 21.6px;
  }
}
.input.-block {
  display: block;
}
.input.-shadow {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.06);
}
.input-append {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-left: -1px;
}
.input-append,
.input-prepend {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 30px;
  padding: 0 10px;
  background: #eef1f6;
  border: 1px solid #e8e8e8;
  height: 32px;
  min-width: 32px;
  z-index: 1;
}
@media only screen and (max-width: 529px) {
  .input-append,
  .input-prepend {
    /*@pxFontValue: (@font-size / 10);
  @pxLineValue: (@font-size / 10 * 1.8);*/
    font-size: 14px;
    line-height: 25.2px;
  }
}
.input-prepend {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-right: -1px;
}
.input-prepend + .input {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.select {
  border: 1px solid #e8e8e8;
  cursor: pointer;
  display: inline-block;
  outline: none;
  font-size: 16px;
  height: 32px;
  padding: 0 6px;
  background: #fff;
  color: #454545;
  -webkit-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  -ms-transition: border-color 0.3s;
  -o-transition: border-color 0.3s;
}
.select:hover {
  border-color: #ccc;
}
.select > option {
  color: #454545;
}
.select:disabled {
  cursor: not-allowed;
  filter: alpha(opacity=70);
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
}
.select:not(.-squared) {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.select.-squared {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.select.-white {
  background: #fff;
  color: #454545;
}
.select.-white:hover {
  border-color: #ccc;
}
.select.-white > option {
  color: #454545;
}
.select.-large {
  font-size: 20px;
  height: 60px;
  padding: 0 16px;
}
.select.-medium {
  font-size: 16px;
  height: 32px;
  padding: 0 6px;
}
.select.-small {
  font-size: 14px;
  height: 25px;
  padding: 0 2px;
}
.select.-block {
  display: block;
}
.switch {
  display: inline-block;
  position: relative;
  height: 30px;
  width: 55px;
}
.switch .slider {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.switch .slider:before {
  bottom: 4px;
  height: 23px;
  left: 4px;
  width: 23px;
}
.switch.-medium {
  height: 30px;
  width: 55px;
}
.switch.-medium .slider {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.switch.-medium .slider:before {
  bottom: 4px;
  height: 23px;
  left: 4px;
  width: 23px;
}
.switch input[type="checkbox"] {
  display: none;
}
.switch input[type="checkbox"]:checked + .slider {
  background: #7e589c;
}
.switch input[type="checkbox"]:checked + .slider:before {
  transform: translateX(24px);
}
.switch input[type="checkbox"]:focus + .slider {
  -webkit-box-shadow: 0 0 1px #7e589c;
  -moz-box-shadow: 0 0 1px #7e589c;
  box-shadow: 0 0 1px #7e589c;
}
.switch .slider {
  background: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.switch .slider:before {
  background: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  content: '';
  position: absolute;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.table {
  border: 1px solid #eee;
  border-collapse: collapse;
  display: table;
  table-layout: fixed;
  width: 100%;
}
.table.-list > .row > .cell {
  border: none;
  border-bottom: 1px solid #eee;
}
.table > .row {
  display: table-row;
}
.table > .row.head {
  background: #fafafa;
}
.table > .row > .cell {
  border: 1px solid #eee;
  display: table-cell;
  vertical-align: middle;
}
.table > .row > .cell:not(.-small) {
  padding: 10px;
}
.table > .row > .cell.-small {
  padding: 5px;
}
.tabs {
  border-bottom: 1px solid rgba(140, 144, 148, 0.15);
  margin-bottom: 50px;
}
.tabs .tab-link {
  border-bottom: 2px solid transparent;
  color: #a7a4b9;
  display: inline-block;
  font-size: 16px;
  margin-bottom: -1px;
  padding: 0 5px 20px;
  z-index: 1;
}
.tabs .tab-link:hover,
.tabs .tab-link.-selected {
  color: #7e589c;
}
.tabs .tab-link.-selected {
  border-bottom-color: #7e589c;
}
.tabs .tab-link .count {
  background: rgba(126, 88, 156, 0.15);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #a7a4b9;
  display: inline-block;
  font-size: 12px;
  line-height: 19px;
  margin-left: 5px;
  padding: 0 5px;
  vertical-align: middle;
}
.tabs .tab-link i.fa {
  margin-right: 3px;
}
.tabs .tab-link + .tab-link {
  margin-left: 20px;
}
.tooltip {
  position: relative;
  z-index: 1;
}
.tooltip:hover:after {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  bottom: 28px;
  color: #fff;
  content: attr(data-title);
  display: inline-block;
  font-size: 12px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  left: -3px;
  line-height: 25px !important;
  padding: 0 8px !important;
  position: absolute;
  text-decoration: none;
  text-transform: none;
  vertical-align: top;
  white-space: nowrap;
  width: auto;
  z-index: 100000;
}
.tooltip:hover:before {
  border: solid;
  border-color: rgba(0, 0, 0, 0.8) transparent;
  border-width: 5px 5px 0 5px;
  bottom: 23px;
  content: '';
  display: inline-block;
  left: 7px;
  position: absolute;
  z-index: 100001;
}
.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  min-width: 320px;
}
.wrapper-block.-parent {
  min-height: 24em;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.wrapper-block.-parent .wrapper-block.-child {
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}
@media only screen and (min-width: 1129px) {
  .wrapper-block.-parent .wrapper-block.-child {
    padding: 0;
  }
}
@media only screen and (min-width: 950px) and (max-width: 1128px) {
  .wrapper-block.-parent .wrapper-block.-child {
    padding: 0;
  }
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  .wrapper-block.-parent .wrapper-block.-child {
    padding: 10px;
  }
}
@media only screen and (max-width: 529px) {
  .wrapper-block.-parent .wrapper-block.-child {
    padding: 20px;
  }
}
/*# sourceMappingURL=style.css.map */