/*
@laptop_non-retina:     ~"(min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1)";
@laptop_retina:         ~"(min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)";
@phones_landscape:      ~"(min-width: 481px) and (max-width: 767px)";
@phones_portrait:       ~"(max-width: 480px)";

@computers:             ~"@{laptops}, @{desktops}";
@desktops:              ~"(min-width: 1281px)";
@laptops:               ~"(min-width: 1025px) and (max-width: 1280px)";
@phones:                ~"@{phones_landscape}, @{phones_portrait}";
@tablets:               ~"(min-width: 768px) and (max-width: 1024px)";*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* sanitize.css v5.0.0 | CC0 License | github.com/jonathantneal/sanitize.css */
/* Document (https://html.spec.whatwg.org/multipage/semantics.html#semantics)
   ========================================================================== */
/**
 * 1. Remove repeating backgrounds in all browsers (opinionated).
 * 2. Add box sizing inheritence in all browsers (opinionated).
 */
*,
::before,
::after {
  background-repeat: no-repeat;
  /* 1 */
  box-sizing: inherit;
  /* 2 */
}
/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritence in all browsers (opinionated).
 */
::before,
::after {
  text-decoration: inherit;
  /* 1 */
  vertical-align: inherit;
  /* 2 */
}
/**
 * 1. Add border box sizing in all browsers (opinionated).
 * 2. Add the default cursor in all browsers (opinionated).
 * 3. Prevent font size adjustments after orientation changes in IE and iOS.
 */
html {
  box-sizing: border-box;
  /* 1 */
  cursor: default;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}
/* Sections (https://html.spec.whatwg.org/multipage/semantics.html#sections)
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content (https://html.spec.whatwg.org/multipage/semantics.html#grouping-content)
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}
/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */
nav ol,
nav ul {
  list-style: none;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics (https://html.spec.whatwg.org/multipage/semantics.html#text-level-semantics)
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}
/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ffff00;
  color: #000000;
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/*
 * Remove the text shadow on text selections (opinionated).
 * 1. Restore the coloring undone by defining the text shadow (opinionated).
 */
::-moz-selection {
  background-color: #b3d4fc;
  /* 1 */
  color: #000000;
  /* 1 */
  text-shadow: none;
}
::selection {
  background-color: #b3d4fc;
  /* 1 */
  color: #000000;
  /* 1 */
  text-shadow: none;
}
/* Embedded content (https://html.spec.whatwg.org/multipage/embedded-content.html#embedded-content)
   ========================================================================== */
/*
 * Change the alignment on media elements in all browers (opinionated).
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}
/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */
svg {
  fill: currentColor;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Tabular data (https://html.spec.whatwg.org/multipage/tables.html#tables)
   ========================================================================== */
/**
 * Collapse border spacing
 */
table {
  border-collapse: collapse;
}
/* Forms (https://html.spec.whatwg.org/multipage/forms.html#forms)
   ========================================================================== */
/**
 * Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
}
/**
 * Inherit styling in all browsers (opinionated).
 */
button,
input,
select,
textarea {
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * 1. Remove the default vertical scrollbar in IE.
 * 2. Change the resize direction on textareas in all browsers (opinionated).
 */
textarea {
  overflow: auto;
  /* 1 */
  resize: vertical;
  /* 2 */
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive elements (https://html.spec.whatwg.org/multipage/forms.html#interactive-elements)
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Scripting (https://html.spec.whatwg.org/multipage/scripting.html#scripting-3)
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}
/**
 * Add the correct display in IE.
 */
template {
  display: none;
}
/* User interaction (https://html.spec.whatwg.org/multipage/interaction.html#editing)
   ========================================================================== */
/*
 * Remove the tapping delay on clickable elements (opinionated).
 * 1. Remove the tapping delay in IE 10.
 */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  /* 1 */
  touch-action: manipulation;
}
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}
/* ARIA (https://w3c.github.io/html-aria/)
   ========================================================================== */
/**
 * Change the cursor on busy elements (opinionated).
 */
[aria-busy="true"] {
  cursor: progress;
}
/*
 * Change the cursor on control elements (opinionated).
 */
[aria-controls] {
  cursor: pointer;
}
/*
 * Change the display on visually hidden accessible elements (opinionated).
 */
[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  display: inherit;
  position: absolute;
}
/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements (opinionated).
 */
[aria-disabled] {
  cursor: default;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
body,
button,
input,
select,
textarea {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
a {
  color: #7e589c;
  text-decoration: none;
}
a.link:hover {
  text-decoration: underline;
}
/*
a[href]:not([class]) {
  color: #008000;
  text-decoration: underline;
}
*/
a,
body,
button,
input,
select,
textarea {
  font-family: Tahoma, sans-serif;
  outline: none;
}
body {
  position: relative;
  color: #454545;
  font-display: swap;
  font-size: 14px;
  background: #fcfbfd;
}
body .body {
  height: 100%;
  min-height: 100%;
}
body .body .container {
  height: 100%;
}
body,
html {
  height: 100%;
}
html {
  font-size: 100%;
}
.inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  min-width: 320px;
  position: relative;
}
main {
  direction: ltr;
  height: 100%;
}
.pace {
  -webkit-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pace-inactive {
  display: none;
}
.pace .pace-progress {
  background: #7e589c;
  height: 2px;
  position: fixed;
  right: 100%;
  top: 0;
  width: 100%;
  z-index: 2000;
}
/*
.page_ {
  &inner {
    .inner;

    padding-left: 10px;
    padding-right: 10px;

    @media (max-width: 670px) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &title {
    margin: 50px 0;

    font-size: 25px;
    text-align: center;
  }
}*/
.caret {
  border: 0.33333em solid transparent;
  border-top-color: inherit;
  content: '';
  display: inline-block;
  height: 0;
  vertical-align: middle;
  width: 0;
}
.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table;
}
.clearfix:after {
  clear: both;
}
.flex-box {
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.flex-box,
.flex-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.flex-item {
  position: relative;
}
.flex-item.-size-1 {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.flex-item.-size-2 {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
.flex-item.-size-3 {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
}
.flex-item.-size-4 {
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4;
}
.flex-item.-size-5 {
  -webkit-flex: 5;
  -ms-flex: 5;
  flex: 5;
}
.flex-item.-size-6 {
  -webkit-flex: 6;
  -ms-flex: 6;
  flex: 6;
}
.flex-item.-size-7 {
  -webkit-flex: 7;
  -ms-flex: 7;
  flex: 7;
}
.flex-item.-size-8 {
  -webkit-flex: 8;
  -ms-flex: 8;
  flex: 8;
}
.flex-item.-size-9 {
  -webkit-flex: 9;
  -ms-flex: 9;
  flex: 9;
}
.flex-item.-size-10 {
  -webkit-flex: 10;
  -ms-flex: 10;
  flex: 10;
}
.font.-large {
  font-size: 20px;
}
.font.-medium {
  font-size: 16px;
}
.font.-small {
  font-size: 12px;
}
.table-block {
  display: table;
  height: 100%;
  width: 100%;
}
.table-block .center-inner {
  display: table-cell;
  *display: inline-block;
  vertical-align: middle;
}
.text.-bold {
  font-weight: 700;
}
.text.-center {
  text-align: center;
}
.text.-italic {
  font-style: italic;
}
.text.-left {
  text-align: left;
}
.text.-lower {
  text-transform: lowercase;
}
.text.-normal {
  font-style: normal;
}
.text.-right {
  text-align: right;
}
.text.-strike {
  text-decoration: line-through;
}
.text.-upper {
  text-transform: uppercase;
}
.-wide {
  display: block;
  width: 100%;
}
._block {
  display: block;
}
._center {
  margin-left: auto;
  margin-right: auto;
}
._hidden {
  display: none;
  filter: alpha(opacity=0);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=(0));
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
  visibility: hidden;
}
._inline {
  display: inline-block;
  vertical-align: top;
}
._middle {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
._noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
._pull-left {
  float: left;
}
._pull-right {
  float: right;
}
._shown {
  display: block;
  -webkit-filter: none;
  filter: none;
  opacity: 1;
  -webkit-pointer-events: auto;
  -ms-pointer-events: auto;
  pointer-events: auto;
  visibility: visible;
}
._scrollbar {
  overflow-y: scroll;
}
.w-25 {
  width: 25px;
}
.w-50 {
  width: 50px;
}
.w-75 {
  width: 75px;
}
.w-100 {
  width: 100px;
}
.w-125 {
  width: 125px;
}
.w-150 {
  width: 150px;
}
.w-175 {
  width: 175px;
}
.w-200 {
  width: 200px;
}
.w-250 {
  width: 250px;
}
.w-300 {
  width: 300px;
}
/**
.devices_values(width; 650px; 600px; 550px; 450px);
 */
.button {
  border: 1px solid transparent;
  display: inline-block;
  outline: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /*@pxFontValue: (@font-size / 10);
  @pxLineValue: (@font-size / 10 * 1.8);*/
  font-size: 16px;
  line-height: 28.8px;
}
@media only screen and (max-width: 529px) {
  .button {
    /*@pxFontValue: (@font-size / 10);
  @pxLineValue: (@font-size / 10 * 1.8);*/
    font-size: 14px;
    line-height: 25.2px;
  }
}
.button:not(.-link) {
  padding: 0 10px;
}
.button:not(.-shadow) {
  line-height: 30px;
}
.button.-shadow {
  -webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.25);
}
.button.-shadow:active {
  -webkit-box-shadow: inset -1px 1px 2px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset -1px 1px 2px 0 rgba(0, 0, 0, 0.25);
  -o-box-shadow: inset -1px 1px 2px 0 rgba(0, 0, 0, 0.25);
  box-shadow: inset -1px 1px 2px 0 rgba(0, 0, 0, 0.25);
}
.button:not(.-static):active {
  transform: translateY(1px);
}
.button:disabled {
  cursor: not-allowed;
  filter: alpha(opacity=50);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=(50));
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.button:hover:not(:disabled) {
  cursor: pointer;
}
.button:not(.-squared) {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.button.-squared {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.button:not(.-transparent).-gray {
  color: #fff;
  background: rgba(118, 124, 127, 0.95);
}
.button:not(.-transparent).-gray:hover {
  background: #767c7f;
}
.button:not(.-transparent).-purple {
  color: #fff;
  background: rgba(126, 88, 156, 0.95);
  border-color: #7e589c;
}
.button:not(.-transparent).-purple:hover {
  background: #7e589c;
}
.button:not(.-transparent).-red {
  color: #732d2d;
  background: rgba(236, 149, 149, 0.95);
}
.button:not(.-transparent).-red:hover {
  background: #ec9595;
}
.button:not(.-transparent).-white {
  background: #fff;
  border-color: #e8e8e8;
  color: #6c6c6c;
}
.button:not(.-transparent).-white:hover {
  background: #fcfbfd;
}
.button.-large {
  font-size: 20px;
  line-height: 55px;
  padding: 0 20px;
}
@media only screen and (max-width: 529px) {
  .button.-large {
    font-size: 18px;
    line-height: 40px;
  }
}
.button.-large.-shadow {
  -webkit-box-shadow: 3px 3px 2px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 3px 3px 2px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 3px 3px 2px 0 rgba(0, 0, 0, 0.25);
}
.button.-large.-shadow:active {
  -webkit-box-shadow: inset -1px 3px 2px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset -1px 3px 2px 0 rgba(0, 0, 0, 0.25);
  -o-box-shadow: inset -1px 3px 2px 0 rgba(0, 0, 0, 0.25);
  box-shadow: inset -1px 3px 2px 0 rgba(0, 0, 0, 0.25);
}
.button.-medium {
  /*@pxFontValue: (@font-size / 10);
  @pxLineValue: (@font-size / 10 * 1.8);*/
  font-size: 16px;
  line-height: 28.8px;
}
@media only screen and (max-width: 529px) {
  .button.-medium {
    /*@pxFontValue: (@font-size / 10);
  @pxLineValue: (@font-size / 10 * 1.8);*/
    font-size: 14px;
    line-height: 25.2px;
  }
}
.button.-medium:not(.-link) {
  padding: 0 10px;
}
.button.-medium:not(.-shadow) {
  line-height: 30px;
}
.button.-medium.-shadow {
  -webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.25);
}
.button.-medium.-shadow:active {
  -webkit-box-shadow: inset -1px 1px 2px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset -1px 1px 2px 0 rgba(0, 0, 0, 0.25);
  -o-box-shadow: inset -1px 1px 2px 0 rgba(0, 0, 0, 0.25);
  box-shadow: inset -1px 1px 2px 0 rgba(0, 0, 0, 0.25);
}
.button.-small {
  /*@pxFontValue: (@font-size / 10);
  @pxLineValue: (@font-size / 10 * 1.8);*/
  font-size: 14px;
  line-height: 25.2px;
  padding: 0 5px;
}
@media only screen and (max-width: 529px) {
  .button.-small {
    /*@pxFontValue: (@font-size / 10);
  @pxLineValue: (@font-size / 10 * 1.8);*/
    font-size: 12px;
    line-height: 21.6px;
  }
}
.button.-small:not(.-shadow) {
  line-height: 23px;
}
.button.-block {
  display: table;
}
.button.-bold {
  font-weight: 700;
}
.button.-icon {
  padding: 0;
}
.button.-link:hover {
  text-decoration: underline;
}
.button.-upper {
  text-transform: uppercase;
}
.button + .button {
  margin-left: 10px;
}
.button:not(.-icon) > .fa {
  margin-right: 5px;
}
.button-append {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-left: -1px;
}
.button-append,
.button-prepend {
  display: inline-block;
  vertical-align: top;
  /*@pxFontValue: (@font-size / 10);
  @pxLineValue: (@font-size / 10 * 1.8);*/
  font-size: 16px;
  line-height: 28.8px;
  background: #eef1f6;
  border: 1px solid #e8e8e8;
  height: 32px;
  min-width: 32px;
  z-index: 1;
}
@media only screen and (max-width: 529px) {
  .button-append,
  .button-prepend {
    /*@pxFontValue: (@font-size / 10);
  @pxLineValue: (@font-size / 10 * 1.8);*/
    font-size: 14px;
    line-height: 25.2px;
  }
}
.button-append:not(.-link),
.button-prepend:not(.-link) {
  padding: 0 10px;
}
.button-append:not(.-shadow),
.button-prepend:not(.-shadow) {
  line-height: 30px;
}
.button-append.-shadow,
.button-prepend.-shadow {
  -webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.25);
}
.button-append.-shadow:active,
.button-prepend.-shadow:active {
  -webkit-box-shadow: inset -1px 1px 2px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset -1px 1px 2px 0 rgba(0, 0, 0, 0.25);
  -o-box-shadow: inset -1px 1px 2px 0 rgba(0, 0, 0, 0.25);
  box-shadow: inset -1px 1px 2px 0 rgba(0, 0, 0, 0.25);
}
.button-prepend {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-right: -1px;
}
.button-prepend + .input {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
/*# sourceMappingURL=button.css.map */